# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

bin/*


.gitignore~

*.class

*.project
*.amateras
*.project
gen/com/actionbarsherlock/R.java
gen/com/greenidea/buswhere/BuildConfig.java
gen/com/greenidea/buswhere/R.java
gen/com/jeremyfeinstein/slidingmenu/lib/R.java