<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.greenidea.buswhere"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

    
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
    读取手机基本信息权限READ_PHONE_STATE，用于精确统计用户的机型等信息(必须)，mogo
	会使用该权限
    -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--
    读取网络信息权限ACCESS_NETWORK_STATE，用于识别gprs网络的接入点的情况(必须)，
	mogo会使用该权限
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--
    获取用户地理信息权限，用于帮助精确统计开发者的程序发布之后的用户分布情况 ，mogo会
	使用该权限
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!--
    读写sd 卡的权限，用于缓存广告所用到的图片，节省流量，并可获得更好的用户体验 ，mogo
	会使用该权限
    -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 获得当前wifi的状态，微云广告平台需要此权限，mogo会使用该权限 -->
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> 
	 
	<!-- 按效果付费功能需要的权限,mogo会使用该权限 --> 
	<uses-permission android:name="android.permission.GET_TASKS" /> 
	 
	<!-- 多盟所需权限，无此权限多盟将无法展示广告--> 
	<uses-permission android:name="android.permission.VIBRATE" /> 
    
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	
	
	<!-- 百度推送 --> 
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    
    
    <application
		android:name="com.baidu.frontia.FrontiaApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name="com.greenidea.buswhere.activity.MainActivity"
			android:launchMode="singleInstance"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
	   <activity
	       android:name=".activity.MultiLineStationActivity"
	       android:launchMode="singleInstance"
		   android:label="@string/menu_station">
	   </activity>
	   <activity
	       android:name=".activity.AboutActivity"
	       android:launchMode="singleInstance"
		   android:label="@string/menu_about">
	   </activity>
	   <activity
	       android:name=".activity.PushMessageActivity"
	       android:launchMode="singleInstance"
		   android:label="@string/pushmsg">
	   </activity>
        
<!-- 广告开始 -->
        <!-- 芒果 -->
	   <activity
	       android:name="com.greenidea.av.GreenideaWebView"
	       android:configChanges="orientation|keyboardHidden|screenSize"
		   android:label="@string/app_name">
	   </activity>
		<!-- 注册Service，自主广告与交换广告的应用下载功能所需 -->
		<service android:name="com.greenidea.controller.service.UpdateService"
			android:exported="true"
			android:process=":remote" />
		<!-- 注册Service，安装应用所用 -->
		<service android:name="com.greenidea.controller.service.CountService"
			android:exported="true"
			android:process=":remote" />

        <!-- 百度 -->
        <activity android:name="com.baidu.mobads.AppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation">
        </activity>
        <meta-data android:name="BaiduMobAd_APP_ID" android:value="f8a1fa59"/>
        <meta-data android:name="BaiduMobAd_APP_SEC" android:value="f8a1fa59"/>
        
        <!-- 有米 -->
        <activity
		    android:name="net.youmi.android.AdBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation"
		    android:theme="@android:style/Theme.Light.NoTitleBar" >
		</activity>
		<service
		    android:name="net.youmi.android.AdService"
		    android:exported="false" >
		</service>
		<service
		    android:name="net.youmi.android.ExpService"
		    android:exported="false" >
		</service>
		<receiver
		    android:name="net.youmi.android.AdReceiver" >
		    <intent-filter>
		        <action android:name="android.intent.action.PACKAGE_ADDED" />
		        <data android:scheme="package" />
		    </intent-filter>
		</receiver>
		<receiver
		    android:name="net.youmi.android.offers.OffersReceiver"
		    android:exported="false" >
		</receiver>
<!-- 广告结束 -->



<!-- 百度推送 -->
        <receiver android:name="com.greenidea.baidupush.MyPushMessageReceiver">
            <intent-filter>
                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package" />
            </intent-filter>                   
        </receiver>
        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1"  >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>
        
		<!-- 在百度开发者中心查询应用的API Key -->
        <meta-data android:name="api_key" android:value="RIafrI5enenVzIGMVH3h3yij" />
<!-- 百度推送结束 -->

    </application>

</manifest>
