<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.greenidea.buswhere"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"/>

    
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> 
	<uses-permission android:name="android.permission.GET_TASKS" /> 
	<uses-permission android:name="android.permission.VIBRATE" /> 
	
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name="com.greenidea.buswhere.activity.MainActivity"
	       android:launchMode="singleTop"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
	   <activity
	       android:name=".activity.MultiLineStationActivity"
	       android:launchMode="singleInstance"
		   android:label="@string/menu_station">
	   </activity>
	   <activity
	       android:name=".activity.AboutActivity"
	       android:launchMode="singleInstance"
		   android:label="@string/menu_about">
	   </activity>
        
<!-- 广告开始 -->
        <!-- 芒果 -->
	   <activity
	       android:name="com.greenidea.av.GreenideaWebView"
	       android:configChanges="orientation|keyboardHidden|screenSize"
		   android:label="@string/app_name">
	   </activity>
		<!-- 注册Service，自主广告与交换广告的应用下载功能所需 -->
		<service android:name="com.greenidea.controller.service.UpdateService"
			android:exported="true"
			android:process=":remote" />
		<!-- 注册Service，安装应用所用 -->
		<service android:name="com.greenidea.controller.service.CountService"
			android:exported="true"
			android:process=":remote" />

        <!-- 百度 -->
        <activity android:name="com.baidu.mobads.AppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation">
        </activity>
        <meta-data android:name="BaiduMobAd_APP_ID" android:value="f8a1fa59"/>
        <meta-data android:name="BaiduMobAd_APP_SEC" android:value="f8a1fa59"/>
        
        <!-- 有米 -->
        <activity
		    android:name="net.youmi.android.AdBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation"
		    android:theme="@android:style/Theme.Light.NoTitleBar" >
		</activity>
		<service
		    android:name="net.youmi.android.AdService"
		    android:exported="false" >
		</service>
		<service
		    android:name="net.youmi.android.ExpService"
		    android:exported="false" >
		</service>
		<receiver
		    android:name="net.youmi.android.AdReceiver" >
		    <intent-filter>
		        <action android:name="android.intent.action.PACKAGE_ADDED" />
		        <data android:scheme="package" />
		    </intent-filter>
		</receiver>
		
<!-- 广告结束 -->

    </application>

</manifest>
